<div id="homePage" class="fullHeight">

<div class="container-fluid hasNav fullHeight">
  <div class="container">
    <h1>The Simplest Note Taking App</h1>



  </div>
</div>
<div class="container-fluid paddingTopBottom features">
  <div class="container">
	<div class="row">
		<div class="col-md-4">
		<div>
			<h2 class="centerText"> Share Notes</h2>
			<div class="centerText">
				<i class="fa fa-users fa-6x"></i>
			</div>
			<p>Collaborate on notes with others</p>

		</div>
		</div>

		<div class="col-md-4">
		<div>
			<h2 class="centerText"> Multiple Tabs</h2>
			<div class="centerText">
				<i class="fa fa-files-o fa-6x"></i>
			</div>
			<p>Have multiple note tabs open without starting a new browser tab. Say bye bye to multiple processes consuming your precious memory!</p>
		</div>
		</div>

		<div class="col-md-4">
		<div>
			<h2 class="centerText"> Multiple Tabs</h2>
			<div class="centerText">
				<i class="fa fa-files-o fa-6x"></i>
			</div>
			<p>Have multiple note tabs open without starting a new browser tab. Say bye bye to multiple processes consuming your precious memory!</p>
		</div>
		</div>
		

	</div>
  </div>
</div>

</div><!-- homePage end -->


