
  <div id="budgetPage" class="fullHeight  ">



<!-- column  -->
   <div class="column">
    <h2>Input Data</h2>

    <div id="income" class="card">
      <h3>Income</h3>
      <ul>
        <li>
          <span class="title">monthly</span>
          <span ng-hide="editing" ng-click="editing = !editing">${{income.monthly}}</span>
          <span class="editField" ng-show="editing" ><input type="text" ng-model="income.monthly">
               <i class="fa fa-check-circle" ng-click="editing = !editing"></i>
          </span>

        </li>
        
        <li><span class="title">yearly</span><span>${{income.monthly * 12}}</span></li>

      </ul>
    </div>

    <div id="bills" class="card">
      <h3>Monthly Bills 
        <i class="fa fa-pencil floatRight" ng-hide="b.editing" ng-click="b.editing = !b.editing"></i>
        <i class="fa fa-check-circle floatRight check" ng-show="b.editing" ng-click="b.editing = !b.editing"></i>
      </h3>
      <ul>
        <li ng-repeat="bill in bills">
          <span class="title">
            <i class="fa fa-times-circle delete" ng-click="removeBillItem($index)" ng-show="b.editing"></i>
           {{bill.name}}
          </span>
          <span ng-hide="b.editing" >${{bill.cost}}</span>
          <input class="floatRight editField" type="text" ng-show="b.editing" ng-model="bill.cost">
        </li>
      </ul>

     <div class="newItem" ng-show="b.editing">

       <div class="input-group">
        <input type="text" class="form-control" ng-model="newBillName" placeholder="New Bill Name">
        <span class="input-group-btn">
          <button class="btn btn-success" type="button"  ng-click="addNewBill()">Add</button>
        </span>
      </div><!-- /input-group -->

     </div>





    </div>

   </div> 
   <!-- column  -->
   <div class="column">
    <h2>Input Data</h2>

    <div class="card">
      <h3>Monthly Overview</h3>
      
      <canvas id="doughnut" class="chart chart-doughnut"
        chart-data="data" chart-labels="labels">
      </canvas> 
    </div>


   </div> 

   <!-- column  -->
   <div class="column">
    <h2>Input Data</h2>

  <!--   <div class="card">
      <h3>Income</h3>
      <div class="item">
        <p>monthly</p><span class="number"> $5000</span>
      </div>
       <div class="item">
        <p>monthly</p><span class="number"> $5000</span>
      </div>
    </div> -->



    <div  id="monthlyBudget" class="card">
      <h3>Monthly Budget</h3>

      <div class="budgetItem" ng-repeat="item in budgetItems">
        <h4>
          {{item.name}}
                  <i class="fa fa-pencil floatRight edit" ng-hide="budgetItem.editing" ng-click="budgetItem.editing = !budgetItem.editing"> </i>
                  <i class="fa fa-check-circle floatRight check" ng-show="budgetItem.editing" ng-click="budgetItem.editing = !budgetItem.editing"></i>


        </h4>
        <div class="overflow">
            <p class="floatLeft">${{item.spent}} of $<span ng-hide="budgetItem.editing">{{item.budget}}</span>
              <input  class="editBudgetItem"type="text" ng-show="budgetItem.editing" ng-model="item.budget">
             spent</p>
            <p class="floatRight" >${{item.budget - item.spent}} remaining</p>
        </div>
        <div class="progress">
          <div class="progress-bar progress-bar-info" style="width: {{ (item.spent/item.budget)*100}}%">
            {{ (item.spent/item.budget)*100 | number:0 }}%
          </div>
          <div class="progress-bar progress-bar-danger"  style="width: {{ 100 - ((item.spent/item.budget)*100) }}%">
            {{ 100 - ((item.spent/item.budget)*100) | number:0 }}%
          </div>
        </div>
      </div>

    </div>

   </div> 




  </div>


