/*variables*/
$primaryColor: #439EF7;
$primaryFont: "Roboto Slab","Times","Sans-Serif";
$navLinks: white;

$navHeight: 50px;

@mixin fullBg{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}


html,body{
	height: 100%;
}

body{
	font-family: $primaryFont;
}

::-webkit-scrollbar {
	border-radius: 0;
	width: .3em;
}
 
::-webkit-scrollbar-track {
	background: #ccc;

}
 
::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

/*::-webkit-scrollbar { 
    display: none; 
}*/


/*helpers*/

.clearPadding{
	padding: 0;
}

.clearLeftPadding{
	padding-left: 0;
}

.clearRightPadding{
	padding-right: 0;
}

.clearMargin{
	margin: 0;
}

.centerText{
	text-align: center;
} 

.centerDiv{
	margin-left: auto;
	margin-right: auto;
}

.fullHeight{
	height: 100%;
	/* overflow: auto; */
}

.fullWidth{
	width: 100%;
}

.floatLeft{
	float: left;
}

.floatRight{
	float: right;
}


.outline{
	outline: 1px solid white !important;
}

.centerText{
	text-align: center;
}

.overflow{
	overflow: auto;
}

.padding5{
	padding: 5px;
}

.padding10{
	padding: 10px;
}

.paddingTopBottom{
	padding: 20px 0px;
}

/*fontawsome helpers*/
.fa-3x{
	font-size: 3em;
}

.fa-4x{
	font-size: 4em;
}

.fa-5x{
	font-size: 5em;
}

.fa-6x{
	font-size: 6em;
}

.fa-7x{
	font-size: 7em;
}

.fa-8x{
	font-size: 8em;
}

/*bootstrap override*/

.hasNav{
	padding-top: $navHeight;
}

.navbar{
	min-height: $navHeight;
}

.navbar-brand{
	font-size: 2em;
}

.navbar-inverse{
	background: $primaryColor;
	border: none;
}

.navbar-inverse .navbar-nav>li>a{
	color: $navLinks;
}

.navbar-inverse .navbar-brand{
	color: $navLinks;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
	color: $primaryColor;
	background: $navLinks;
}

/*homepage*/
#homePage{

}

#homePage .container-fluid:nth-child(1){	
	background: url('../images/landingPlaceholder.jpg');
	@include fullBg;
}

#homePage .container-fluid:nth-child(1) h1{
	padding: 10px;
	background: white;
	display: inline-block;
}

#homePage .features{

}


#homePage .features i.fa{
	
}

#homePage .features .col-md-4{
	padding: 10px;
} 

#homePage .features .col-md-4 p{
	padding: 15px;
	margin: 0;
	margin-top: 10px;
	color: white;
	background: $primaryColor;
	min-height: 100px;
} 

#homePage .features .col-md-4 div:first-child{
	margin: 10px;
	border: 1px solid $primaryColor;
	color: $primaryColor
}

/*notes page*/
#notesPage{
	overflow: hidden;
}

#notesPage .nav{
	height: 100%;
	float: left;
	background: $primaryColor;
	position: fixed;
	z-index: 99;

}

#notesPage .nav ul{
	list-style: none;
}

#notesPage .nav ul li{
	position: relative;
}

#notesPage .nav ul li a{
	padding: 15px;
	color: white;
	display: inline-block;
	text-decoration: none;
	transition: .3s;
}

#notesPage .nav ul li:hover span{
	opacity: 1;
	top: 20px;
}


#notesPage .nav ul li:hover span:hover{
	opacity: 0;
	top: 10px;
}

#notesPage .nav ul li a:hover {
	background: $primaryColor*.9;
}

#notesPage .nav ul li  span{
	font-family: helvetica,'sans-serif';
    padding: 1px 10px;
    border-radius: 4px;
    background: black;
    position: absolute;
    color: white;
    left: 50px;
    top: 10px;
    opacity: 0;
    transition: .3s;

}

#notesPage #body{
	padding: 0px 0px 0px 58px;
	margin: 0;
}



#notesPage #list{
	background: whitesmoke;
	padding: 0;
	height: 100%;
	overflow-y: hidden;
}

#notesPage #list ul{
	height: 100%;
	list-style: none;
	padding: 0;
	margin: 0;
	overflow-y: scroll;
}

#notesPage #list ul li{
	padding: 10px 0px;
	margin: 0;
	border-bottom: 1px solid #ccc;
}

/*#notesPage #list ul li:last-child{
	border-bottom: none;
}*/


#notesPage #list ul li h3{
	margin: 0;
	padding: 0px 20px;
	font-size: 1.2em;
	font-weight: 400;
}

#notesPage #list ul li p{
	margin: 0;
	padding: 0px 20px;
	font-size: .9em;
}

#notesPage #canvas{
	background: whitesmoke;
}









