/*variables*/
html, body {
  height: 100%; }

body {
  font-family: "Roboto Slab", "Times", "Sans-Serif"; }

::-webkit-scrollbar {
  border-radius: 0;
  width: .5em; }

::-webkit-scrollbar-track {
  background: #ccc; }

::-webkit-scrollbar-thumb {
  background-color: darkgrey; }

/*::-webkit-scrollbar { 
    display: none; 
}*/
/*helpers*/
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1; }

.clearPadding {
  padding: 0; }

.clearLeftPadding {
  padding-left: 0; }

.clearRightPadding {
  padding-right: 0; }

.clearMargin {
  margin: 0; }

.centerText {
  text-align: center; }

.centerDiv {
  margin-left: auto;
  margin-right: auto; }

.fullHeight {
  height: 100%;
  /* overflow: auto; */ }

.fullWidth {
  width: 100% !important; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.outline {
  outline: 1px solid white !important; }

.centerText {
  text-align: center; }

.overflow {
  overflow: auto; }

.padding5 {
  padding: 5px; }

.padding10 {
  padding: 10px; }

.paddingTopBottom {
  padding: 20px 0px; }

/*fontawsome helpers*/
.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

/*colors*/
.green {
  color: green; }

/*bootstrap override*/
.hasNav {
  padding-top: 50px; }

.navbar {
  min-height: 50px; }

.navbar-brand {
  font-size: 2em; }

.navbar-inverse {
  background: #1C7FDF;
  border: none; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-brand {
  color: white; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #1C7FDF;
  background: white; }

/*homepage*/
#homePage .container-fluid:nth-child(1) {
  background: url("../images/landingPlaceholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#homePage .container-fluid:nth-child(1) h1 {
  padding: 10px;
  background: white;
  display: inline-block; }

#homePage .features .col-md-4 {
  padding: 10px; }

#homePage .features .col-md-4 p {
  padding: 15px;
  margin: 0;
  margin-top: 10px;
  color: white;
  background: #1C7FDF;
  min-height: 100px; }

#homePage .features .col-md-4 div:first-child {
  margin: 10px;
  border: 1px solid #1C7FDF;
  color: #1C7FDF; }

/*notes page*/
#notesPage {
  overflow: hidden; }

#notesPage .nav {
  height: 100%;
  float: left;
  background: #1972c9;
  position: fixed;
  z-index: 99; }

#notesPage .nav ul {
  list-style: none; }

#notesPage .nav ul li {
  position: relative; }

#notesPage .nav ul li a {
  padding: 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: .3s; }

#notesPage .nav ul li:hover span {
  opacity: 1;
  top: 20px; }

#notesPage .nav ul li:hover span:hover {
  opacity: 0;
  top: 10px; }

#notesPage .nav ul li a:hover {
  background: #0e4070; }

#notesPage .nav ul li span {
  font-family: helvetica,'sans-serif';
  padding: 1px 10px;
  border-radius: 4px;
  background: black;
  position: absolute;
  color: white;
  left: 50px;
  top: 10px;
  opacity: 0;
  transition: .3s; }

#notesPage #body {
  padding: 0px 0px 0px 58px;
  margin: 0;
  overflow-y: auto; }

#notesPage #list {
  background: whitesmoke;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  width: 25%;
  box-sizing: border-box;
  float: left;
  opacity: 1;
  transition: .3s;
  position: relative; }

.hideList {
  margin-left: -25%; }

#notesPage #list #search {
  display: block;
  width: 100%;
  font-size: 1.3em;
  background: white;
  border: none;
  padding: 10px;
  color: gray; }

input#search:focus {
  outline: none; }

#notesPage #list ul {
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0; }

#notesPage #list ul li {
  padding: 10px 0px;
  margin: 0;
  border-bottom: 1px solid #ccc;
  transition: .3s; }

/*#notesPage #list ul li:last-child{
	border-bottom: none;
}*/
#notesPage #list ul li:hover {
  background: #0e4070;
  color: white; }

#notesPage #list ul li h3 {
  margin: 0;
  padding: 0px 20px;
  font-size: 1.2em;
  font-weight: 400; }

#notesPage #list ul li p {
  margin: 0;
  padding: 0px 20px;
  font-size: .9em; }

#notesPage #canvas {
  margin: 0;
  padding: 0;
  background: whitesmoke;
  overflow-y: scroll;
  width: 75%;
  float: left; }

#notesPage #canvas #header {
  background: #1972c9;
  position: fixed;
  width: 100%;
  z-index: 99;
  min-height: 44px; }

#notesPage #canvas #header #tabs {
  background: none; }

#notesPage #canvas #header #tabs h5 {
  display: inline-block;
  color: white;
  margin: 0px;
  padding: 14px 10px; }

#notesPage #canvas #header #tabs ul {
  list-style: none;
  margin: 0;
  padding: 0; }

#notesPage #canvas #header #tabs ul li {
  display: inline-block;
  color: white;
  background: #1666b2; }

#notesPage #canvas #header #tabs ul li:hover {
  background: #0e4070; }

#notesPage #canvas #header #tabs ul li a {
  padding: 8px 0px 8px 10px;
  text-decoration: none;
  color: white; }

#notesPage #canvas #header #tabs ul li i {
  padding: 15px 8px; }

#notesPage #canvas #header #tabs ul li i:hover {
  color: red; }

#notesPage #canvas .notesContainer {
  padding-top: 44px; }

#notesPage #canvas .note {
  padding: 10px;
  position: relative;
  z-index: 98; }

#notesPage #canvas .note i.edit {
  opacity: 0;
  transition: .3s; }

#notesPage #canvas .note .header h2:hover i.edit {
  opacity: 1; }

.gridMode {
  float: left !important;
  width: 50% !important; }

#notesPage #canvas .note .header {
  background: #1972c9; }

#notesPage #canvas .note .header h2 {
  margin: 0;
  font-size: 1.2em;
  color: white;
  padding: 10px;
  float: left; }

#notesPage #canvas .note .header h2 input {
  color: black; }

#notesPage #canvas .note .header ul.options {
  list-style: none;
  margin: 0;
  float: right;
  margin-right: 5px; }

#notesPage #canvas .note .header ul.options li {
  display: inline-block;
  color: white;
  transition: .3s;
  margin: 5px 0px;
  padding: 5px 10px; }

#notesPage #canvas .note .header ul.options li:hover {
  background: #0e4070; }

#notesPage #canvas .note textarea {
  min-height: 400px; }

#notesPage #canvas .note #tinymce {
  font-size: 1.2em; }

ul.toolTip {
  position: relative;
  z-index: 99;
  overflow: visible; }

ul.toolTip li {
  position: relative; }

ul.toolTip li:hover span {
  opacity: 1;
  top: 40px; }

ul.toolTip li span {
  font-family: helvetica,'sans-serif';
  padding: 1px 10px;
  border-radius: 4px;
  background: black;
  position: absolute;
  color: white;
  top: 10px;
  opacity: 0;
  transition: .3s;
  left: -35%; }

ul.tags {
  list-style: none;
  position: relative;
  display: block;
  float: right;
  width: 100%;
  padding: 0px 5px;
  height: 0px;
  overflow: hidden;
  transition: .3s; }

.showTags {
  transition: .3s;
  height: 20px !important; }

ul.tags li {
  display: inline-block;
  background: white;
  color: #1C7FDF;
  padding: 0px 10px;
  border-radius: 2px;
  margin: 0px 2px; }

ul.tags li input {
  height: 20px;
  border: 0;
  max-width: 100px;
  text-align: center; }

ul.tags li input:focus {
  outline: none; }

/*ul.tags li .fa-close{
	color: red;
}*/
ul.tags li .fa-close:hover {
  color: red; }

ul.tags li .fa-plus {
  position: relative;
  top: 1px;
  color: gray; }

ul.tags li .fa-plus:hover {
  color: green; }
