/*variables*/
html, body {
  height: 100%; }

body {
  font-family: "Roboto Slab", "Times", "Sans-Serif"; }

/*helpers*/
.clearPadding {
  padding: 0; }

.clearLeftPadding {
  padding-left: 0; }

.clearRightPadding {
  padding-right: 0; }

.clearMargin {
  margin: 0; }

.centerText {
  text-align: center; }

.centerDiv {
  margin-left: auto;
  margin-right: auto; }

.fullHeight {
  height: 100%;
  /* overflow: auto; */ }

.fullWidth {
  width: 100%; }

.floatLeft {
  float: left; }

.floatRight {
  float: right; }

.outline {
  outline: 1px solid white !important; }

.centerText {
  text-align: center; }

.overflow {
  overflow: auto; }

.padding5 {
  padding: 5px; }

.padding10 {
  padding: 10px; }

.paddingTopBottom {
  padding: 20px 0px; }

/*fontawsome helpers*/
.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

/*bootstrap override*/
.hasNav {
  padding-top: 50px; }

.navbar {
  min-height: 50px; }

.navbar-brand {
  font-size: 2em; }

.navbar-inverse {
  background: #439EF7;
  border: none; }

.navbar-inverse .navbar-nav > li > a {
  color: white; }

.navbar-inverse .navbar-brand {
  color: white; }

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
  color: #439EF7;
  background: white; }

/*homepage*/
#homePage .container-fluid:nth-child(1) {
  background: url("../images/landingPlaceholder.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }

#homePage .container-fluid:nth-child(1) h1 {
  padding: 10px;
  background: white;
  display: inline-block; }

#homePage .features .col-md-4 {
  padding: 10px; }

#homePage .features .col-md-4 p {
  padding: 15px;
  margin: 0;
  margin-top: 10px;
  color: white;
  background: #439EF7;
  min-height: 100px; }

#homePage .features .col-md-4 div:first-child {
  margin: 10px;
  border: 1px solid #439EF7;
  color: #439EF7; }

/*notes page*/
#notesPage .nav {
  height: 100%;
  float: left;
  background: #439EF7; }

#notesPage .nav ul {
  list-style: none; }

#notesPage .nav ul li {
  position: relative; }

#notesPage .nav ul li a {
  padding: 15px;
  color: white;
  display: inline-block;
  text-decoration: none;
  transition: .3s; }

#notesPage .nav ul li:hover span {
  opacity: 1;
  top: 20px; }

#notesPage .nav ul li:hover span:hover {
  opacity: 0;
  top: 10px; }

#notesPage .nav ul li a:hover {
  background: #3c8ede; }

#notesPage .nav ul li span {
  font-family: helvetica,'sans-serif';
  padding: 1px 10px;
  border-radius: 4px;
  background: black;
  position: absolute;
  color: white;
  left: 50px;
  top: 10px;
  opacity: 0;
  transition: .3s; }
