
  <div id="notesPage" class="container-fluid  fullHeight clearPadding hasNav">

  <div class="nav">
    <ul class="clearPadding clearMargin">
      <li>
        <a href="" ui-sref="">
          <i class="fa fa-home fa-2x"></i>
        </a>
        <span>home</span>
      </li>

       <li>
        <a href="" ui-sref="">
          <i class="fa fa-bell fa-2x"></i>
        </a>
        <span>home</span>
      </li>

       <li>
        <a href="" ui-sref="">
          <i class="fa fa-file-text fa-2x"></i>
        </a>
        <span>home</span>
      </li>

       <li>
        <a href="" ui-sref="">
          <i class="fa fa-plus-circle fa-2x"></i>
        </a>
        <span>home</span>
      </li>

       <li>
        <a href="" ui-sref="">
          <i class="fa fa-search fa-2x"></i>
        </a>
        <span>home</span>
      </li>


    </ul>
  </div>

  <div id="body" class="row fullHeight">

    <div id="list" class="col-md-3 fullHeight">
      <!-- <h2>search</h2> -->
      <ul>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>
        <li>
          <h3>Gulp Cheat Sheet</h3>
          <p>created: Yesterday at 12pm</p>
          <p>last opened: Today at 10am</p>
        </li>

      </ul>
    </div>

    <div id="canvas" class="col-md-9 fullHeight">
        <h2>notes</h2>
    </div>

  </div>
 
  
   <!--  
      <note-cards notes="notes.notes">
      </note-cards> -->

    

  	</div> <!-- end notes container

  </div>


