
  <div id="notesPage" class="container-fluid  fullHeight clearPadding hasNav">
  <div class="nav">
    <ul class="clearPadding clearMargin">
      <li>
        <a href="" ui-sref="">
          <i class="fa fa-home fa-2x"></i>
        </a>
        <span>home</span>
      </li>
       <li>
        <a href="" ui-sref="">
          <i class="fa fa-home fa-2x"></i>
        </a>
        <span>home</span>
      </li>


    </ul>
  </div>	
  
   <!--  
      <note-cards notes="notes.notes">
      </note-cards> -->

    

  	</div> <!-- end notes container

  </div>


